@font-face {
    font-family: 'Cuprum-Regular';
    src: url('../fonts/Cuprum/Cuprum-Regular/Cuprum-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Cuprum/Cuprum-Regular/Cuprum-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Cuprum/Cuprum-Regular/Cuprum-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Cuprum/Cuprum-Regular/Cuprum-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Cuprum/Cuprum-Regular/Cuprum-Regular.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Cuprum-Bold';
    src: url('../fonts/Cuprum/Cuprum-Bold/Cuprum-Bold.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Cuprum/Cuprum-Bold/Cuprum-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Cuprum/Cuprum-Bold/Cuprum-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Cuprum/Cuprum-Bold/Cuprum-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Cuprum/Cuprum-Bold/Cuprum-Bold.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto/Roboto-Regular/Roboto-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Roboto/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Roboto/Roboto-Regular/Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Roboto/Roboto-Regular/Roboto-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Roboto/Roboto-Regular/Roboto-Regular.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto/Roboto-Bold/Roboto-Bold.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Roboto/Roboto-Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Roboto/Roboto-Bold/Roboto-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Roboto/Roboto-Bold/Roboto-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Roboto/Roboto-Bold/Roboto-Bold.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-BoldCondensed';
    src: url('../fonts/Roboto/Roboto-BoldCondensed/Roboto-BoldCondensed.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Roboto/Roboto-BoldCondensed/Roboto-BoldCondensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Roboto/Roboto-BoldCondensed/Roboto-BoldCondensed.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Roboto/Roboto-BoldCondensed/Roboto-BoldCondensed.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Roboto/Roboto-BoldCondensed/Roboto-BoldCondensed.svg#svgFontName') format('svg');
    /* Legacy iOS */
}
